.header-main {
    margin-top: 130px;
    transition: all 2s;
}

@media only screen and  (min-width: 700px){
    .header-main {
        margin-top: 92px;
        transition: all 2s;
    }
}

.intro{
    background-image: url("../images/banners/ximage\,P20klein\,P20003.jpg.pagespeed.ic.KJYs3gTb-w.webp");
    background-position:center bottom;
    background-size: cover;
    opacity: 0.8;
}
.opacity-1{
    background-color: rgba(243, 234, 223, 0.877);
}
.opacity-2{
    background-color: rgba(250, 235, 215, 0.56);
}
.golden{
    color: rgb(134, 102, 42);
}
.gradient{
    background: -webkit-linear-gradient(#c7b37b, #584924);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
/* stiluri pentru pagina Contacte */
/* proprietati pentru pagina contacte */
/* copiate */
.map-container-section {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container-section iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
  
  /* adaugate */
  .md-form i {
      background: #d3e0df;
      padding: 10px;
      border-radius: 4px;
  }
  .ic i {
      background: #d3e0df;
      padding: 15px;
      border-radius: 100%;
  }

  image-fit{
      max-width: 100%;
      max-height: 100;
      display: block;
  }
